p{ 
    color: red;
    font-size: 1000%; 
}
body{ 
    background: black;
}
#magic{
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}
#fullscreen{
    min-height: 100%;
}
#pulsate {
    animation: pulsate 10s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}
@keyframes pulsate {
    0% {
        opacity: 0.5;
        font-size: 1000%;
    }
    50% {
        opacity: 1.0;
        font-size: 2000%;
    }
    100% {
        opacity: 0.5;
        font-size: 1000%;
    }
}
