p{ 
    color: #FFFFFF;
    font-size: 2000%;
    font-family: 'Roboto Slab', serif;
}
body{ 
	background: -moz-linear-gradient(top, #d369a0 0%, #992691 50%, #526ea5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d369a0 0%,#992691 50%,#526ea5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d369a0 0%,#992691 50%,#526ea5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#magic{
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}
#fullscreen{
    min-height: 100%;
}
#pulsate {
    animation: pulsate 5s ease-out;
    animation-iteration-count: infinite;
    opacity: 1.0;
}
@keyframes pulsate {
    0% {
        opacity: 1.0;
        font-size: 2000%;
    }
    50% {
        opacity: 1.5;
        font-size: 3000%;
    }
    100% {
        opacity: 1.0;
        font-size: 2000%;
    }
}
